#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  gap: 5vmin;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

*{
  margin: 0;
  padding: 0;
}

.header{
  background-color: white;
  min-height: 10vmin;
}

.name{
  min-height: 30px;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.contactInfo{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 2vmin;
}

.contactInfo img {
  height: 3vmin;
}

.contactInfo div{
  display: flex;
  align-items: center;
gap: 1vmin;}

.input{
  grid-column: 1;
  width: 100%;
  grid-row: 1;
  background-color:lightslategray;
  max-height: 100%;
}

.cv{
  grid-column: 2;
  background-color: gray;
}

.education, .experience {
  display: grid;
  justify-items: center;
}

.school{
  display: grid;
  grid-template-rows: fit-content, fit-content;
  grid-template-columns: 2fr 1fr;
}

.infoGroup button{
  font-size: 1.5vmin;
}


.title{
  width: 75%;
  background-color: white;
}

.input,  .cv {
  min-height: 100vmin;
}

body{
  background-color:lightgrey
}
