#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  gap: 5vmin;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

*{
  margin: 0;
  padding: 0;
}

.cvManager{
  background-color: white;
  position: sticky;
  top: 8px;
  margin-bottom: 20px;
}

.personalDetails{
  background-color: darkgray;
  display: grid;
  gap: 5px;
  padding: 10px;
}

label{
  justify-self: start;
  margin-left: 3px;
  font-style: italic;
  margin-bottom: 3px;
}

.personalDetails input, form input {
  border-radius: 12px;
  padding: 10px;
  border: 2px solid transparent;
}

.header{
  background-color: lightsteelblue;
  min-height: 15vmin;
  font-size: 1.2rem;
  display: grid;
  align-items: center;
}

.header h3{
  font-size: 1.7rem;
}

.name{
  min-height: 30px;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.contactInfo{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 2vmin;
}

.contactInfo img {
  height: 3vmin;
}

.contactInfo div{
  display: flex;
  align-items: center;
gap: 1vmin;}

.input{
  grid-column: 1;
  width: 30vw;
  grid-row: 1;
  background-color:lightgray;
  max-height: 100%;
}


.cv{
  grid-column: 2;
  background-color:white
}

.education, .experience {
  display: grid;
  justify-items: center;
}

.section-header{
  font-size: 1.35rem;
  font-weight: bold;
}

.section-content-child {
  grid-template-columns: 150px fit-content(200px);
  overflow-wrap: break-word; 
  word-wrap: break-word;    
  word-break: break-word;   
  white-space: normal;     
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
  display: grid;
  cursor: pointer;
}

.section-content-child span{
  justify-self: start;
}
.delete{
  height: auto;
  width: fit-content;
  font-size: 0.5rem;
}

.jobs-section, .schools-section {
    min-height: 100px; 
    margin-top: 20px; 
    background-color: lightsteelblue;
    padding: 5%;
}

input{
  width: 90%;
}

form div{
  display: flex;
  flex-direction: column;
  align-items: start;
}


.education-section *{
  justify-self: start;
}


.school{
  display: grid;
  grid-template-rows: fit-content, fit-content;
  grid-template-columns: 2fr 1fr;
}

.infoGroup button{
  font-size: 1.5vmin;
}


.title{
  width: 75%;
  background-color: white;
}

.input,  .cv {
  min-height: 100vmin;
}

body{
  background-color:lightgrey
}
